.intro {
	text-align: center;
}


.littleintro {
	font-size: larger;
}

.bigbloc {
	margin: 100px 30px;
	background-color: #E1E1E1;
}

.menul {
	color: grey;
}

li a:hover {
	color: black;
}

.titleproject {
	margin-top: 15px;
}

.project {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 100px;;
	border: 1px solid;
	border-color: grey;
	padding-left: 20px;
}